.recip-name {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.recip-image{
    display: flex;
    justify-content: center;
}

.recip-image img{
    height: var(--icon-tall-size-height);
    width: var(--icon-tall-size-width);
    border-radius: 1rem;
}

.recip-person{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ingredients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.recip-ingredient{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

