.icon {
    cursor: pointer;
    padding:1rem;
}

    .icon ::deep svg {
        fill: none;
    }

/* SIZE */
.small {
    height: var(--icon-small-size-height);
    width: var(--icon-small-size-width);
}

.normal {
    height: var(--icon-normal-size-height);
    width: var(--icon-normal-size-width);
}

/* STYLE */
.secondary ::deep svg path {
    fill: var(--secondary-color);
}
.secondary:hover ::deep svg path {
    fill: var(--info-color);
}

.error ::deep svg path {
    fill: var(--error-color);
}

.success ::deep svg path {
    fill: var(--success-color);
}