@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (RecipsState.Value.IsLoading)
{
    <Loader />
}
else
{
    <div>

        <div>
            <CustomInputSearch OnInputCallback="UpdateRecipSearchTerm" @bind-Value="searchTerm" />
        </div>

        @if (RecipsState.Value.Recips == null || RecipsState.Value.Recips.Count() == 0)
        {
            <div>vide</div>
        }
        else
        {
            <div class="recips">
                @foreach (var recip in RecipsState.Value.Recips)
                {
                    <CardWithImage Title="@recip.Name" ImageUrl="@recip.ImageUrl" OnClickCallback="async () => await OnTagClick(recip)" />
                }
            </div>
        }

    </div>
}