@using bakaChiefApplication.Constants;

<div class="recipStep">
    @if (IsAddable)
    {
        <div class="add-icon" @onclick="Onclick"><Icon IconSvgEnum="Enums.Icon.PlusSvg" IconSize="Enums.Size.Small" IconStyle="Enums.Style.Success" /></div>
    }

    @if (IsRemovable)
    {
        <div class="remove-icon" @onclick="Onclick"><Icon IconSvgEnum="Enums.Icon.CrossSvg" IconSize="Enums.Size.Small" IconStyle="Enums.Style.Error" /></div>
    }

    @* Number *@
    <div>
        @if (IsAddable)
        {
            <CustomInputNumber Label="Number" @bind-Value="@CurrentNumberValue" />
        }
        else
        {
            <span>@Number</span>
        }
    </div>

    @* Description *@
    <div>
        @if (IsAddable)
        {
            <CustomInputText Label="Description" @bind-Value="@CurrentDescriptionValue" />
        }
        else
        {
            <span>@Description</span>
        }
    </div>
    
</div>