@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (RecipTypesState.Value.IsLoading)
{
    <Loader />
}
else
{
    <div>

        <div>
            <CustomInputSearch OnInputCallback="UpdateRecipTypeSearchTerm" @bind-Value="searchTerm" />
        </div>

        @if (RecipTypesState.Value.Items == null || RecipTypesState.Value.Items.Count() == 0)
        {
            <div>@LabelTranslationsLocalizer["Empty"]</div>
        }
        else
        {
            <RadzenRow class="rz-p-1">
                @foreach (var RecipType in RecipTypesState.Value.Items)
                {
                    <RadzenColumn>
                        <RadzenButton Text="@RecipType.Name"
                                      Click="@(async () => await OnTagClick(RecipType))" />
                    </RadzenColumn>
                }
            </RadzenRow>
        }

    </div>
}