################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bakaChiefApplication/obj
/bakaChiefApplication/bakaChiefApplication.csproj.user
/bakaChiefApplication/bin/Debug/net7.0
/bakaChiefApplication.UnitTests/bin/Debug/net7.0
/bakaChiefApplication.UnitTests/obj
/bakaChiefApplication.UnitTests/bin/Release/net7.0
