################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/bakaChiefApplication/bakaChiefApplication.csproj.user

/bakaChiefApplication/bin
/bakaChiefApplication/obj

/bakaChiefApplication.UnitTests/obj
/bakaChiefApplication.UnitTests/bin
