:root {
    --card-size-height: 17rem;
    --card-size-width: 17rem;
}

.card {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    height: var(--card-size-height);
    width: var(--card-size-width);
    border: 1px solid var(--border-color);
    margin: 0.5rem;
}

.card>* {
    grid-area: 1/1;
    transition: .4s;
}

.card figcaption {
    display: grid;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #fff;
    padding: .75rem;
    background: var(--c, #0009);
    clip-path: inset(0 var(--_i, 100%) 0 0);
    margin: -1px;
    word-break: break-all;
    font-size: 1.5rem;
}

.card:hover figcaption {
    --_i: 0%;
}

.card:hover .close-svg {
    --_i: 0%;
}

.close-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: inset(0 var(--_i, 100%) 0 0);
}

.close-svg ::deep svg {
    border-radius: 2.5rem;
    border: 1px solid var(--error-color);
    background-color: var(--error-color);
}


@supports not (-webkit-mask-clip: text) {
    .card figcaption {
        -webkit-mask: none;
        color: #fff;
    }
}

/* SIZE */
.small {
    --card-size-height: 10rem;
    --card-size-width: 10rem;
}

.normal {
    --card-size-height: 12rem;
    --card-size-width: 12rem;
}