@using bakaChiefApplication.Constants;

<figure @onclick="OnClick">

    <div class="content-card">
        @Content
    </div>

    <figcaption>@Title</figcaption>

    @if (IsRemovable)
    {
        <div class="close-svg">
            <Icon IconSvgEnum="Enums.Icon.CrossSvg" IconStyle="Enums.Style.Error" />
        </div>
    }
</figure>