@using bakaChiefApplication.Constants;

<figure @onclick="OnClick">

    <div class="content-card">
        @Content
    </div>

    <figcaption>@Title</figcaption>

    @if (IsRemovable)
    {
        <div class="close-svg">
            @((MarkupString)SvgConstants.CrossSvg)
        </div>
    }
</figure>