@using bakaChiefApplication.Constants;

<figure @onclick="OnCloseClick">

    <div class="content-card">
        @Content
    </div>

    <figcaption>@Title</figcaption>

    <div class="close-svg">
        @((MarkupString)SvgConstants.CrossSvg)
    </div>
</figure>