@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (MeasureUnitsState.Value.IsLoading)
{
    <Loader />
}
else
{
    <div>

        <div>
            <CustomInputSearch OnInputCallback="UpdateMeasureUnitSearchTerm" @bind-Value="searchTerm" />
        </div>

        @if (MeasureUnitsState.Value.Items == null || MeasureUnitsState.Value.Items.Count() == 0)
        {
            <div>@LabelTranslationsLocalizer["Empty"]</div>
        }
        else
        {
            <RadzenRow class="rz-p-1">
                @foreach (var MeasureUnit in MeasureUnitsState.Value.Items)
                {
                    <RadzenColumn>
                        <RadzenButton Text="@MeasureUnit.Name"
                                      Click="@(async () => await OnTagClick(MeasureUnit))" />
                    </RadzenColumn>
                }
            </RadzenRow>
        }

    </div>
}