.nutriment-type-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.addNutrimentType-button {
    margin: 1.5rem 0rem;
    position:fixed;
    bottom:1rem;
    right:1rem;
    z-index:100;
}

.icon-card {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .icon-card ::deep img {
        height: 100%;
        width: 100%;
    }

.add-nutriment-modal{

}