@page "/nutrimenttypes"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Nutriment Types List</h3>

<div>
    <button>ajout</button>

    @if (NutrimentTypeState.Value.IsAddLoading)
    {
        <p>add loading...</p>
    }
    else
    {
        <div>
            <EditForm Model="Model" OnValidSubmit="@Submit">
                <DataAnnotationsValidator />

                @* Name *@
                <div>
                    <InputText @bind-Value="Model.Name" />
                </div>

                @* SvgImage *@
                <div>
                    <InputText @bind-Value="Model.SvgImage" />
                </div>

                @* SvgImage visualization *@
                @* <div>
            @((MarkupString) Model.SvgImage)
            </div> *@

                @* Submit *@
                <div>
                    <button type="submit">Submit</button>
                </div>

            </EditForm>
        </div>
    }
</div>


@if (NutrimentTypeState.Value.IsLoading)
{
    <p>Loading...</p>
}
else
{
    if (NutrimentTypeState.Value.NutrimentTypes == null || NutrimentTypeState.Value.NutrimentTypes.Count() == 0)
    {
        <div>Pas de nutriment</div>
    }
    else
    {
        <div class="nutriment-type-cards">
            @foreach (var nutrimentType in NutrimentTypeState.Value.NutrimentTypes)
            {
                <Card Title="@nutrimentType.Name" CardSvgImage="@nutrimentType.SvgImage" OnClickCallback="async () => await RemoveNutrimentType(nutrimentType.Id)" />
            }
        </div>
    }
}