@page "/nutrimenttypes"

<h3>Nutriment Types List</h3>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>Id</td>
                <td>Name</td>
            </tr>
        
    </tbody>
</table>

