@page "/nutrimenttypes"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Nutriment Types List</h3>

@if (NutrimentTypeState.Value.IsLoading)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @if (NutrimentTypeState.Value.NutrimentTypes == null || NutrimentTypeState.Value.NutrimentTypes.Count() == 0)
            {
                <div>vide</div>
            }
            else
            {
                foreach (var nutrimentType in NutrimentTypeState.Value.NutrimentTypes)
                {
                    <tr>
                        <td>@nutrimentType.Id</td>
                        <td>@nutrimentType.Name</td>
                    </tr>
                }
            }

        </tbody>
    </table>
}