@page "/ingredients"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Ingredients</h3>

<AddButton OnClickCallback="@(async () => await RedirectToIngredientForm(Enums.FormMode.Creation))" />

<IngredientsSearch
    OnTagClickCallback="@((ingredient) => RedirectToIngredientForm(Enums.FormMode.Update, ingredient.Id))" Take="SearchConstants.DefaultNumberOfItemsToTake" />

@* Show more *@
<div>
    <Button Type="button" Text="Show more" OnClickCallback="@(ShowMoreIngredients)" />
</div>
