@page "/ingredients"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Ingredients</h3>

@* Add button *@
<div>
    <Button Type="button" Text="+" OnClickCallback="@(async () => await RedirectToIngredientForm())" />
</div>

@* Search ingredient *@
<IngredientsSearch
    OnTagClickCallback="@((ingredient) => RedirectToIngredientDetails(ingredient.Id))" Take="SearchConfiguration.DefaultNumberOfItemsToTake" />

@* Show more button *@
<FlottedButton Text="Show more" OnClickCallback="@(ShowMoreIngredients)" />