.image{
    display:flex;
    justify-content:center;
    align-items:center;
}

.nutriments, .selected-nutriment{
    display:flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-evenly;
}

.ingredient-type-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.nutriments, .image{
    padding:1rem;
}

.addingredient-button {
    margin: 1.5rem 0rem;
}

.ingredient-card {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .ingredient-card ::deep img {
        height: 100%;
        width: 100%;
    }

.delete-ingredient {
    display: flex;
    justify-content: flex-end;
}