@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (IngredientsState.Value.IsLoading)
{
    <Loader />
}
else
{
    <div>

        <div>
            <CustomInputSearch OnInputCallback="UpdateIngredientSearchTerm" @bind-Value="searchTerm" />
        </div>

        @if (IngredientsState.Value.Items == null || IngredientsState.Value.Items.Count() == 0)
        {
            <div>@LabelTranslationsLocalizer["Empty"]</div>
        }
        else
        {
            <RadzenRow>
                @foreach (var ingredient in IngredientsState.Value.Items)
                {
                    <RadzenColumn>
                        <RadzenCard>
                            <RadzenImage Path="@ingredient.ImageUrl" 
                                         AlternateText="@ingredient.Name"
                                         Click="@(async () => await OnTagClick(ingredient))" />
                        </RadzenCard>
                    </RadzenColumn>
                }
            </RadzenRow>
        }
    </div>
}