@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (IngredientsState.Value.IsLoading)
{
    <Loader />
}
else
{
    <div>

        <div>
            <CustomInputSearch OnInputCallback="UpdateIngredientSearchTerm" @bind-Value="searchTerm" />
        </div>

        @if (IngredientsState.Value.Ingredients == null || IngredientsState.Value.Ingredients.Count() == 0)
        {
            <div>vide</div>
        }
        else
        {
            <div class="ingredients">
                @foreach (var ingredient in IngredientsState.Value.Ingredients)
                {
                    <IngredientDisplay OnClickCallback="@(async () => await OnTagClick(ingredient))" Ingredient="ingredient" />
                }
            </div>
        }

    </div>
}