@page "/selectedRecipHistories"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>SelectedRecipHistories</h3>

@if (SelectedRecipHistoriesState.Value.IsLoading)
{
    <Loader />
}
else
{
    @* Add button *@
    <div>
        <Button Type="button" Text="+" OnClickCallback="@(async () => await  GenerateSelectedRecipHistory())" />
    </div>


    if (SelectedRecipHistoriesState.Value.Items == null ||
    SelectedRecipHistoriesState.Value.Items.Count() == 0)
    {
        <div>vide</div>
    }
    else
    {
        <div class="selectedRecipHistories">
            @foreach (var selectedRecipHistory in SelectedRecipHistoriesState.Value.Items)
            {
                <Tag Content="@selectedRecipHistory.Date.ToString()" OnClickCallback="async () => await RedirectToSelectedRecipHistoryPage(selectedRecipHistory.Id)" />
            }
        </div>
    }
}