@page "/products/{Code}/details"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Product Details</h3>

@if (ProductInfosState.Value.IsLoading)
{
    <Loader />
}
else
{
    if (ProductInfosState.Value.CurrentProductInfo == null)
    {
        <div>Non trouvé</div>
    }
    else
    {
        <div class="product">

            <Card Title="@ProductInfosState.Value.CurrentProductInfo.product_name">
                <Content>
                    <div class="ingredient-card">

                        <img src="@ProductInfosState.Value.CurrentProductInfo.image_url" alt="@ProductInfosState.Value.CurrentProductInfo.product_name" />

                    </div>
                </Content>
            </Card>

            <div class="nutriment-tags">
                @{
                    var nutrimentNames = new Models.NutrimentNames();

                    foreach (string nutrimentName in nutrimentNames)
                    {
                        var value = (string)ProductInfosState.Value.CurrentProductInfo.GetType().GetProperty(nutrimentName).GetValue(ProductInfosState.Value.CurrentProductInfo, null);

                        if (!string.IsNullOrWhiteSpace(value))
                        {
                            <Tag Content="@($"{nutrimentName} : {value}")" />
                        }
                    }
                }

            </div>
        </div>
    }
}