.nutriment-tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}