@inherits LayoutComponentBase
@using Radzen.Blazor

<div class="page">

    <NavMenu />

    <RadzenComponents />

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
