<Card Title="@Ingredient.Name" OnClickCallback="@(async () => await OnTagClick(Ingredient))">
    <Content>
        <div class="ingredient-card">
            <div class="image"><img alt="@Ingredient.Name" src="@Ingredient.ImageUrl" /></div>
        </div>
    </Content>
</Card>
