@page "/products"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Products</h3>

@if (ProductInfosState.Value.IsLoading)
{
    <Loader />
}
else
{
    <div>
        <CustomInputSearch OnInputCallback="UpdateProductInfoSearchTerm" @bind-Value="searchTerm" />
    </div>

    if (ProductInfosState.Value.ProductInfos == null || ProductInfosState.Value.ProductInfos.Count() == 0)
    {
        <div>vide</div>
    }
    else
    {
        <div class="products">
            @foreach (var product in ProductInfosState.Value.ProductInfos)
            {
                <div>
                    <Card Title="@product.product_name"
                        OnClickCallback="() => NavigationManager.NavigateTo(PagesUrl.GetProductDetailsUrl(product.code))">
                        <Content>
                            <div>

                                <img src="@product.image_url" alt="@product.product_name" />

                            </div>
                        </Content>
                    </Card>
                </div>
            }
        </div>
    }
}