.custom-modal {
    border: 1px solid black;
    border-radius: 1.5rem;
    padding:1rem;
}

.close-modal-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

    .close-modal-btn ::deep svg {
        height: 3rem;
        width: 3rem;
    }
