@using bakaChiefApplication.Constants;

<div class="custom-modal" hidden="@Hidden">
    
    <div class="close-modal-btn" @onclick="OnCloseClick">
        @((MarkupString)SvgConstants.CrossSvg)
    </div>
    
    <div class="content-modal">
        @Content
    </div>
    
</div>