@using bakaChiefApplication.Constants;

<div class="overlay-modal" hidden="@Hidden" @onclick="OnCloseClick"></div>
<div class="custom-modal" hidden="@Hidden" @attributes="AdditionalAttributes">
    
    <div class="container-modal">
        <div class="close-modal-btn" >
            <div class="cross-icon" @onclick="OnCloseClick">
                <Icon IconSvgEnum="Enums.Icon.CrossSvg" IconStyle="Enums.Style.Error" />
            </div>
        </div>

        <div class="container-modal-title">
            <h1>@Title</h1>
        </div>

        <div class="content-modal">
            @Content
        </div>
    </div>
</div>