@page "/nutriments"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Nutriments</h3>

<AddButton OnClickCallback="@(async () => await RedirectToNutrimentForm(Enums.FormMode.Creation))" />

<NutrimentsSearch OnTagClickCallback="@((nutriment) => RedirectToNutrimentForm(Enums.FormMode.Update, nutriment.Id))" />