@page "/nutriments"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Nutriments</h3>

@* Add button *@
<div>
    <Button Type="button" Text="+" OnClickCallback="@(async () => await RedirectToNutrimentForm(Enums.FormMode.Creation))" />
</div>

@* Search nutriments *@
<NutrimentsSearch OnTagClickCallback="@((nutriment) => RedirectToNutrimentForm(Enums.FormMode.Update, nutriment.Id))" Take="SearchConstants.DefaultNumberOfItemsToTake"/>

@* Show more *@
<FlottedButton Text="Show more" OnClickCallback="@(ShowMoreNutriments)" />