@page "/nutriments"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Nutriments</h3>

@if (NutrimentsState.Value.IsLoading)
{
    <Loader />
}
else
{
    <AddButton OnClickCallback="@(async () => await RedirectToNutrimentForm(Enums.FormMode.Creation))" />

    <div>
        <CustomInputSearch OnInputCallback="UpdateNutrimentSearchTerm" @bind-Value="searchTerm" />
    </div>

    if (NutrimentsState.Value.Nutriments == null || NutrimentsState.Value.Nutriments.Count() == 0)
    {
        <div>vide</div>
    }
    else
    {
        <div class="nutriments">
            @foreach (var nutriment in NutrimentsState.Value.Nutriments)
            {
                <Tag Content="@nutriment.Name" IsRemovable="true" OnClickCallback="@(() => RemoveNutriment(nutriment.Id))" />
            }
        </div>
    }
}