.input {
    margin-bottom: 1rem;
}

    .input ::deep input {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #7180D4;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: 0.2s ease;
    }

        .input ::deep input:focus, .input ::deep input:focus-visible, .input ::deep input.valid.modified {
            border: none;
            border-bottom: 1px solid #0D0A9B;
            outline: none;
            transition: 0.2s ease;
        }

        .input ::deep input:placeholder-shown + label {
            top: -30px;
            transition: 0.2s ease;
            font-size: 1rem;
        }

        .input input:focus + label {
            font-size: 0.8rem;
            top: -50px;
            transition: 0.2s ease;
        }

    .input label {
        position: relative;
        top: -50px;
        font-size: 0.8rem;
        margin-left: 0.5rem;
        pointer-events: none;
        transition: 0.2s ease;
    }
