@using bakaChiefApplication.Constants;

<div class="nav-menu">
    
    <div class="navbar-brand-container">
        <span class="application_version">@_applicationVersion</span>
        <a class="navbar-brand" href="">baka-chief-application </a>
    </div>

    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <Icon IconSvgEnum="Enums.Icon.Burger" />
    </button>
</div>

<div hidden="@_collapseNavMenu" @onclick="ToggleNavMenu">
    <nav class="nav-container">
        <div class="nav-items">
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="nutriments">
                    Nutriments
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="ingredients">
                    Ingredients
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="recips">
                    Recips
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="selectedRecipHistories">
                    SelectedRecipHistories
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="recipTypes">
                    RecipTypes
                </NavLink>
            </div>
        </div>
    </nav>
</div>
