:root {
    /* COLOR */
    --primary-color: #202020;
    --secondary-color: #ffff;
    --info-color: #0D0A9B;
    --success-color: #3B9433;
    --error-color: #B00E0E;
    --warning-color: #f8b500;
    /* SIZE */
    --icon-small-size-width: 2rem;
    --icon-small-size-height: 2rem;
    --icon-normal-size-width: 3.5rem;
    --icon-normal-size-height: 3.5rem;

    --font-size-small:1rem;
    --font-size-normal:2rem;
}
