<div class="recip-step">
    <div>
        <CustomInputNumber @bind-Value="CurrentRecipStep.Number" />
    </div>
    <div>
        <CustomInputText @bind-Value="CurrentRecipStep.Description" />
    </div>

    @if (Icon != @Enums.Icon.NotSet && Size != @Enums.Size.NotSet && Style != @Enums.Style.NotSet)
    {
        <div class="tag-icon" @onclick="OnIconClick">
            <Icon IconSvgEnum="Icon" IconSize="Size" IconStyle="Style" />
        </div>
    }
</div>