@page "/recips"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Recips</h3>

<AddButton OnClickCallback="@(async () => await RedirectToRecipForm(Enums.FormMode.Creation))" />
  
<RecipsSearch OnTagClickCallback="@((Recip) => RedirectToRecipForm(Enums.FormMode.Update, Recip.Id))" Take="SearchConstants.DefaultNumberOfItemsToTake"/>

@* Show more *@
<div>
    <Button Type="button" Text="Show more" OnClickCallback="@(ShowMoreRecip)" />
</div>