@page "/recips"
@using bakaChiefApplication.Constants;
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Recip List</h3>

@if (RecipsState.Value.IsLoading)
{
    <Loader />
}
else
{
    <AddButton OnClickCallback="@(async () => await RedirectToRecipForm(Enums.FormMode.Creation))" />

    if (RecipsState.Value.Recips == null || RecipsState.Value.Recips.Count() == 0)
    {
        <div>Pas de recette</div>
    }
    else
    {
        <div class="recip-type-cards">
            @foreach (var recip in RecipsState.Value.Recips)
            {
                <Card Title="@recip.Name" OnClickCallback="async () => await RedirectToRecipForm(Enums.FormMode.Update, recip.Id)">
                    <Content>
                        <div class="recip-card">
                            <div class="image">@((MarkupString)recip.ImageFilePath)</div>
                        </div>
                    </Content>
                </Card>

            }
        </div>
    }
}