@page "/recips"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Recips</h3>

@* Add button *@
<div>
    <Button Type="button" Text="+" OnClickCallback="@(async () => await RedirectToRecipForm())" />
</div>
  
@* Search Recips  *@
<RecipsSearch OnTagClickCallback="@((recip) => RedirectToRecipDetails(recip.Id))" Take="SearchConfiguration.DefaultNumberOfItemsToTake"/>

@* Show more *@
<FlottedButton Text="Show more" OnClickCallback="@(ShowMoreRecip)" />