.recip-form {
    padding: 1rem;
    color: var(--primary-color);
}

.recip-form-page{
    display: flex;
    justify-content: center;
}

.recip-form-page-container {
    width: 100%;
    background-color: var(--secondary-color);
}