@page "/recips"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Recips</h3>

@* Add button *@
<div>
    <Button Type="button" Text="+" OnClickCallback="@(async () => await RedirectToRecipForm(Enums.FormMode.Creation))" />
</div>
  
@* Search Recips  *@
<RecipsSearch OnTagClickCallback="@((Recip) => RedirectToRecipForm(Enums.FormMode.Update, Recip.Id))" Take="SearchConstants.DefaultNumberOfItemsToTake"/>

@* Show more *@
<FlottedButton Text="Show more" OnClickCallback="@(ShowMoreRecip)" />