@page "/nutriments/{Action}"
@page "/nutriments/{Id}/{Action}"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Nutriment form</h3>

<EditForm Model="NutrimentsState.Value.Item" OnValidSubmit="@SaveNutriment">
    <DataAnnotationsValidator />

    @* Name *@
    <CustomInputText Label="Name" @bind-Value="@NutrimentsState.Value.Item.Name" />

    @* Submit *@
    <div>
        <Button Type="submit" Text="Submit" />
    </div>

</EditForm>

@if (CanDelete)
{
    <div>
        <Button Type="button" Text="Remove" OnClickCallback="@(() => DeleteNutriment())" />
    </div>
}

<div>
    <Button Type="button" Text="Return" OnClickCallback="@(async () => await RedirectToNutrimentsPage())" />
</div>