.tag {
    border: 1px solid black;
    border-radius: .75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: fit-content;
    padding: .5rem;
    cursor: pointer;
    color: var(--primary-color);
}

.add-tag-icon {
    height: var(--icon-size-height);
    width: var(--icon-size-width);
    margin-right: .25rem;
}

    .add-tag-icon ::deep svg path {
        fill: var(--success-color);
    }

.remove-tag-icon {
    height: var(--icon-size-height);
    width: var(--icon-size-width);
    margin-left: .25rem;
}

    .remove-tag-icon ::deep svg path {
        fill: var(--error-color);
    }
