@using bakaChiefApplication.Constants;

<div class="tag" @onclick="Onclick">

    @if (IsAddable)
    {
        <div class="add-tag-icon">
            <Icon IconSvgEnum="Enums.Icon.PlusSvg" IconSize="Enums.Size.Small" IconStyle="Enums.Style.Success" />
        </div>
    }

    <div class="tag-content">@Content</div>

    @if (IsRemovable)
    {
        <div class="remove-tag-icon">
            <Icon IconSvgEnum="Enums.Icon.CrossSvg" IconSize="Enums.Size.Small" IconStyle="Enums.Style.Error" />
        </div>
    }
</div>