@using bakaChiefApplication.Constants;

<div class="tag" @onclick="Onclick">

    <div class="tag-content">@Content</div>

    @if (Icon != @Enums.Icon.NotSet && Size != @Enums.Size.NotSet && Style != @Enums.Style.NotSet)
    {
        <div class="tag-icon">
            <Icon IconSvgEnum="Icon" IconSize="Size" IconStyle="Style" />
        </div>
    }
</div>