.tag {
    border: 1px solid black;
    border-radius: .75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: fit-content;
    padding: .5rem;
    cursor: pointer;
    color: var(--primary-color);
    font-size: var(--font-size-normal);
}

.add-tag-icon, .remove-tag-icon {
    margin-right: .25rem;
}