<div class="nav-menu">
    <a class="navbar-brand" href="">baka-chief-application</a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <li></li>
    </button>
</div>

<div hidden="@collapseNavMenu" @onclick="ToggleNavMenu">
    <nav class="nav-container">
        <div class="nav-items">
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="nutriments">
                    Nutriments
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="ingredients">
                    Ingredients
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="recips">
                    Recips
                </NavLink>
            </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "nav-hidden" : "nav-display";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
